/* 通用内容 */
h4,h5,h6,h1,h2,h3 {
    margin-top: 0;
}

ul,ol {
    margin: 0;
}

p {
    margin: 0;
}

html,body {
    font-family: 'OpenSans-Regular';
    font-size: 100%;
    background: url(../images/bg.png);
}

.a-banner {
    background: url(../images/twgbjl.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-position: center center;
  }

.container{
    padding-top: 1em;
}

.logo{
	float:left;
}
.logo a{
  color: #FFF;
  font-size: 5em;
  font-family: 'Dorsa-Regular';
  text-decoration: none;
  letter-spacing: 2px;
}
.logo a:hover{
    color: #dab866;
}

.icons {
    float: right;
}
.icons ul {
    padding: 0;
    margin: 3em 0 0 0;
}
.icons ul li {
    display: inline-block;
    margin: 0 .3em;
}
.icons ul li a.facebook {
    background: url(../images/social.png) no-repeat 0px 0px;
    width: 40px;
    height: 40px;
    display: block;
}
.icons ul li a.twitter {
    background: url(../images/social.png) no-repeat -41px 0px;
}
.icons ul li a.chrome {
    background: url(../images/social.png) no-repeat -82px 0px;
}
.icons ul li a.dribbble {
    background: url(../images/social.png) no-repeat -123px 0px;
}
.icons ul li a.pinterest {
    background: url(../images/social.png) no-repeat -164px 0px;
}
.icons ul li a.facebook:hover {
    opacity: 0.5;
}

.top-nav {
    text-align: center;
    padding: 1em 0 1em 0;
    border-top: ridge 1px rgba(255, 255, 255, 0.62);
  }
  .top-nav ul {
    padding: 0;
    margin: 0;
  }
  .top-nav ul li {
    display: inline-block;
    margin: 0 2em;
  }
  .top-nav ul li a.active {
    border-top: solid 2px #dab866;
    color: #dab866;
  }
  .top-nav ul li a {
    color: #FFFFFF;
    font-size: 1.5em;
    letter-spacing: 3px;
    margin: 0;
    font-weight: 600;
    font-family: 'Dorsa-Regular';
    text-decoration: none;
    padding: .7em 0 0 0;
  }
  .top-nav ul li a:hover{
    border-top: solid 2px #dab866;
    color: #dab866;
  }	


  .layui-row .layui-col-xs6 img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
  }

  .copyright{
    /* margin-top: 10%; */
    background: #4D4D4D;
    padding: 1em 0;
    text-align: center;
  }
 .copyright-left p{
    color: #FFF;
    font-size: .9em;
    margin: .4em 0 0 0;
  }
 .copyright-left p a{
    color:#FFF;
  }


/* 主体内容 */

  .layui-row .layui-col-md3  img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
  }

  .layui-row .layui-col-md3  img:hover{
    transform: scale(1.1);
  }

  .layui-row .layui-col-md3 {
      padding: 10px 20px 10px 20px;
  }

  .layui-row .layui-col-md3  .message{
      background: white;
      border-radius: 8%;
      margin-bottom: 20px;
  }

  .layui-row .layui-col-md3 .message img{
    border-radius: 10%;
  }

  .layui-row .layui-col-md3 h3{
      margin: 20px 0 20px 0;
  }
  
  .message p{
    text-overflow:ellipsis; 
    /*text-overflow只是用来说明文字溢出时用什么方式显示
    属性值clip  表示剪切
         ellipsis  表示用省略号显示
      */
      overflow:hidden; /*溢出内容为隐藏*/
      white-space:nowrap; /*强制文本在一行内显示*/
      height: 40px;
  }


  nav{
    display: none;
  }


  /* 响应式 */
@media screen and (max-width:640px){

  .logo , .icons , .top-nav {
    display: none;
  }

  nav{
    display: inline;
    opacity: 0.9;
   
  }

  .a-banner{
    height: 200px;
  }
  
  }
  
